@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    .wl-content code, .wl-content pre {
      font-size: 100% !important;
    }
  
    summary::marker {
      color: #382bf0;
      font-size: 1.2em;
    }
  
    summary {
      background-color: #121212;
      color: white;
      padding: 10px;
      border-radius: 5px;
    }
  
    .wl-reaction-votes {
      color: #fff !important;
    }
  
    details[open] summary {
      border-radius: 5px;
    }
  
    details {
      background: #282c34;
      border-radius: 5px;
      color: white;
    }
  
    .spoiler-content {
      color: white !important;
      margin-left: 20px; 
      margin-top: 10px;
      padding-bottom: 10px;
    }
  
    .wl-emoji {
      width: 40px !important;
      height: auto !important;
    }
  
    .button-container {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
  
    /* Styled button */
    .comment-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 800px; /* Button width */
      padding: 10px;
      background-color: #1e1e1e; /* Button background color */
      border: 2px dotted #6027DA; /* Dotted border */
      font-size: 16px;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none; /* Remove underline from anchor if used as a link */
    }
  
    .wl-badge.level0 {
      color: white !important;
      border: 1px solid #FF0000 !important;
      background-color: #FF0000 !important;
    }

    .wl-panel
  
    :root {
      --waline-border: none;
      --waline-box-shadow: 0 12px 40px rgb(134 151 168 / 25%);
      --waline-font-size: 16px !important;
      --waline-theme-color: #6027DA !important;
      --waline-active-color: #6027DA !important;
      --waline-color: #fff !important;
      --waline-badge-color: #FF0000 !important;
      --waline-badge-font-size: 14px !important;
      --waline-light-grey: #F4F3FF !important;
      --waline-border-color: #26324D !important;
    }
  
    body {
      --waline-box-shadow: 0 12px 40px #0f0e0d;
      --waline-bg-color: #26324D !important;
      --waline-color: #fff !important;
      --waline-border-color: #fff !important;
      --waline-white: #fff !important;
      --waline-theme-color: #6027DA !important;
      --waline-active-color: #6027DA !important;
    }
  }
  